<h1>Listing sources</h1>

<table>
  <tr>
    <th>deviceID</th>
    <th>deviceTypeID</th>
    <th>createTime</th>
	<th>lastUpdate</th>
	<th>dataStreams</th>
  </tr>

<% @sources.each do |source| %>
  <tr>
	 <td><%= source.deviceID %><td>
	 <td><%= source.deviceTypeID %><td>
	 <td><%= source.createTime %><td>
	 <td><%= source.lastUpdate %><td>
	 <td><%= source.dataStreams %><td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path %>
