<%= form_for(@mydevice) do |f| %>
  <% if @mydevice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mydevice.errors.count, "error") %> prohibited this mydevice from being saved:</h2>

      <ul>
      <% @mydevice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
